@* @model DTOsB.CategoryDTOs.UpdateCategoryDTO *@
@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12 mt-5">
            <form asp-action="Edit" method="post" enctype="multipart/form-data" class="shadow p-4 rounded bg-light">
                <h2 class="text-center mb-4 bg-light fw-bold text-primary p-4 shadow rounded" style="margin-top: -80px">Edit Category</h2>
                @*
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ImagePath" value="@Model.ImagePath" />
                *@

                <!-- Category Image -->
                <div class="mb-3">
                    <label class="form-label fs-5 fw-bold" for="ImageFile">Category Image</label>
                    <input type="file" class="form-control shadow-sm" id="ImageFile" name="ImageFile">

                    @*  <span asp-validation-for="ImageFile" class="text-danger"></span>

                    @if (!string.IsNullOrEmpty(Model.ImagePath))
                    {
                    <p>Current Image: @Model.ImagePath</p>
                    }
                    *@
                </div>

                <!-- Arabic Name -->
                <div class="mb-3">
                    <label class="form-label fs-5 fw-bold" for="ArabicName">Arabic Name</label>
                    <input type="text" class="form-control shadow-sm" id="ArabicName" name="ArabicName" placeholder="Enter Arabic Name" value="ArabicName" required>
                    @*
                    <span asp-validation-for="ArabicName" class="text-danger"></span>
                    *@
                </div>

                <!-- English Name -->
                <div class="mb-3">
                    <label class="form-label fs-5 fw-bold" for="Name">English Name</label>
                    <input type="text" class="form-control shadow-sm" id="Name" name="Name" placeholder="Enter English Name" value="Name" required>
                    @*
                    <span asp-validation-for="Name" class="text-danger"></span>
                    *@
                </div>

                <!-- Update Button -->
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-success btn-lg shadow" type="submit">
                        <i class="fa-solid fa-check"></i> Update
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

