@* @model IEnumerable<DTOsB.CategoryDTOs.GetCategoryDTO>
 *@
@{
    ViewData["Title"] = "Index";
}

<div class="container my-5 shadow p-4 rounded">
    <div class="row mb-5 mt-4 align-items-center">
        <div class="shadow rounded-3 bg-dark ms-3  rounded p-1 col-12 col-md-3 text-center text-light fs-5 fw-bold">
            <label for="search" class="form-label ">Category Name </label>
        </div>
        <div class="col-md-5 col-12">
            <form class="d-flex" role="search" asp-action="Search" asp-controller="Category" method="get">
                <input class=" shadow form-control me-2" id="search" type="search" name="name" placeholder="Search Category" aria-label="Search">
                <button class=" shadow btn btn-primary" type="submit">Search</button>
            </form>
        </div>
        <div class="col-12 col-md-3  text-center mt-3 mt-md-0 ">
            <a asp-controller="Category" asp-action="Create" class="shadow btn btn-success">
                <i class="fa-solid fa-plus me-2"></i> Add New Category
            </a>
        </div>
    </div>

    <div class="table-responsive shadow rounded-3">
        <table class="table table-hover text-center align-middle">
            <thead class="table-dark shadow">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Arabic Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @*
                @foreach (var item in Model)
                {
                *@

                <tr>
                    <td class="text-center" style="width: 200px; height: 100px;">
                        @*

                        <img class="img-fluid" style="max-width: 100px;" src="~/Categories/@item.ImagePath" alt="@item.Name">

                        *@
                    </td>
                    <td>Name</td>
                    <td>ArabicName</td>
                    <td>
                        <div class="d-flex justify-content-center gap-2">
                            <a class="btn btn-warning text-white" asp-action="Edit" asp-route-id="Id">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </a>

                            <a asp-action="Delete" asp-route-id="Id" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
                @*
                }
                *@
            </tbody>
        </table>
    </div>
</div>
