@* @model UserRoleViewModel
 *@
@{
    ViewData["Title"] = "Edit";
}


<div class="container my-5 p-4  shadow rounded col-md-8">
    <div class="row justify-content-center mt-5">

        <h2 class="text-center mb-4 bg-light fw-bold text-primary p-4 shadow rounded" style="margin-top: -100px">Edit "UserNameHere""</h2>

        <form method="post" asp-action="Edit">
            @*
            <input asp-for="UserId" hidden />
            *@
            <div class="mb-3">
                <label class="fs-5 fw-bold mt-2 mb-2">User Name</label>
                <input class="form-control shadow-sm" disabled />
            </div>

            <h3 class="mt-5 text-secondary">Manage User Roles</h3>
            <hr class="mb-4" />

            <!-- Roles Checkboxes -->
            @*
            @for (int i = 0; i < Model.Roles.Count; i++)
            {
            *@
            <div class="form-check mb-3">
                <input class="form-check-input shadow-sm" />
                <label class="form-check-label">
                    RolesName
                </label>
            </div>
            @*
            }
            *@

            <div class="d-grid gap-2 mt-5">
                <input type="submit" value="Save" class="btn btn-success me-2 shadow" />
                <a asp-action="Index" class="btn btn-secondary shadow">Back To List</a>
            </div>
        </form>

    </div>
</div>